# Local/private config goes in the include
[include]
	path = ~/.gitconfig.local

[merge]
	summary = true

[pull]
	rebase = true

[rebase]
	autosquash = true
	autostash = true
[user]
	email = j.laroo@web-idea.nl
	name = Jan-Age
